<md-toolbar class="md-accent md-hue-4 md-whiteframe-1dp">
<!--<md-toolbar class="md-primary md-hue-2 md-whiteframe-1dp">-->
<!--<md-toolbar class="md-whiteframe-1dp">-->
    <div class="md-toolbar-tools">
        <span>Talent Book</span>
        <span flex></span>
        <!--<div ng-show="isLoggedIn">
            <a href="" ng-click="ping()">ping</a>
        </div>-->
        <!--<div ng-hide="isLoggedIn">
            <a href="" ng-click="loginWithFacebook()">Login</a>
        </div>-->
        <div layout="row" layout-align="center center" ns-popover ns-popover-timeout="-1"
             ns-popover-template="account_popover" ns-popover-trigger="click" ng-if="!toolbarCtrl.hideAccountPopOver"
             ns-popover-placement="bottom|right" ns-popover-theme="ns-popover-tooltip-theme" ng-show="isLoggedIn">
            <i class="material-icons person_icon cursor_pointer">account_circle</i>
        </div>
        <script type="text/ng-template" id="account_popover">
            <div class="triangle"></div>
            <div class="ns-popover-tooltip account_popover" md-whiteframe="1" layout="column">
                <div flex layout="column" class="row_1">
                    <div flex class="name">
                        {{toolbarCtrl.name}}
                    </div>
                    <div flex class="email">
                        {{toolbarCtrl.email}}
                    </div>
                </div>
                <div flex class="row_2">
                    <md-divider></md-divider>
                </div>
                <div flex class="row_3">
                    <ul>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </script>
    </div>
</md-toolbar>
