<div flex layout="column">
    <div toolbar></div>
    <!--<md-content flex>-->
    <div flex ui-view layout="column" ng-if="!appCtrl.isRoot">
    </div>
    <div flex ng-if="appCtrl.isLoggedIn">
        <div flex style="min-height: 350px" layout="row" layout-align="center center" class="bg_semi_black">
            <div flex="80" id="hero-content" class="bg_white" layout-padding style="border-radius: 4px">
                <div layout="row" layout-align="center center">
                    <h3>Welcome to TalentBook, a place to showcase your talents!</h3>
                </div>
                <div layout="row">
                    <div flex>
                        <h4>For Talent</h4>
                        <p>Build your portfolio, let the world know about your special talents!</p>
                        <p>Be no more san unsung hero - Jump in and explore exciting opportunities around you.</p>
                    </div>
                    <div flex>
                        <h4>For Recruiters</h4>
                        <p>Find out amazing talent in and around you. Lots of amateurs as well as professional
                            artists are here aboard!</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="create-post" style="position: fixed; bottom: 48px; right: 48px">
            <md-button class="md-fab md-primary" aria-label="Create Post">
                <md-icon class="material-icons">create</md-icon>
            </md-button>
        </div>-->
    </div>
    <div layout="row" flex layout-align="center start">
        <div flex="90" layout="row">
            <div flex="65" layout="row" layout-align="center start" layout-padding>
                <div flex="90" layout-padding layout="column">
                    <md-content flex style="background-color: white">
                        <div flex layout="row" layout-align="center start"
                             ng-controller="CreatePostController as cpCtrl">
                            <div flex ng-include="'js/modules/posts/views/create_post.html'"></div>
                        </div>

                        <div flex layout="column" style="margin-top:16px; margin-bottom: 16px;">
                        <!--<md-toolbar class="md-accent md-hue-1">
                            <div class="md-toolbar-tools">

                            </div>
                        </md-toolbar>-->
                        <md-nav-bar class="md-whiteframe-1dp"
                                    md-selected-nav-item="currentNavItem"
                                    nav-bar-aria-label="navigation links">
                            <md-nav-item md-nav-click="goto('page1')" name="page1">
                                For you
                            </md-nav-item>
                            <md-nav-item md-nav-click="goto('page2')" name="page2">
                                Trending
                            </md-nav-item>
                            <md-nav-item md-nav-click="goto('page3')" name="page3">
                                Latest
                            </md-nav-item>
                        </md-nav-bar>
                        <!--<div>-->


                        <md-card style="margin:8px 2px;">
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text >
                                    <span class="md-title">Title</span>
                                    <span class="md-subhead">subhead</span>
                                </md-card-header-text>
                            </md-card-header>
                            <div style="overflow:hidden;max-height:180px;" layout="row" layout-align="center center">
                                <img ng-src="resources/dummy/images/puppy.jpg" class="md-card-image" alt="Washed Out" style="width:100%;">
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Title</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p class="md-truncate grey-text">
                                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                                </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions>
                                    <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                        <md-icon class="material-icons">thumb_up</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent" aria-label="Share">
                                        <md-icon class="material-icons">share</md-icon>
                                    </md-button>
                                </md-card-icon-actions>
                                <md-button>Action 1</md-button>
                                <md-button>Action 2</md-button>
                            </md-card-actions>
                        </md-card>

                        <!-- video -->

                        <md-card style="margin:8px 2px;">
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text >
                                    <span class="md-title">Title</span>
                                    <span class="md-subhead">subhead</span>
                                </md-card-header-text>
                            </md-card-header>
                            <div style="overflow:hidden;" layout="row" layout-align="center center">
                                <!--<iframe width="560" height="315" src="https://www.youtube.com/watch?v=5qgcxWLeu_8" frameborder="0" allowfullscreen></iframe>-->
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/5qgcxWLeu_8" frameborder="0" allowfullscreen></iframe>
                                <!--<img ng-src="resources/dummy/images/puppy.jpg" class="md-card-image" alt="Washed Out" style="width:100%;">-->
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Title</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p class="md-truncate grey-text">
                                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                                </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions>
                                    <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                        <md-icon class="material-icons">thumb_up</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent" aria-label="Share">
                                        <md-icon class="material-icons">share</md-icon>
                                    </md-button>
                                </md-card-icon-actions>
                                <md-button>Action 1</md-button>
                                <md-button>Action 2</md-button>
                            </md-card-actions>
                        </md-card>


                        <!-- image -->



                            <md-card style="margin:8px 2px;">
                                <md-card-header>
                                    <md-card-avatar>
                                        <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                                    </md-card-avatar>
                                    <md-card-header-text >
                                        <span class="md-title">Title</span>
                                        <span class="md-subhead">subhead</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <div style="overflow:hidden;max-height:180px;" layout="row" layout-align="center center">
                                    <img ng-src="resources/dummy/images/puppy.jpg" class="md-card-image" alt="Washed Out" style="width:100%;">
                                </div>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Title</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p class="md-truncate grey-text">
                                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                                    </p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="start center">
                                    <md-card-icon-actions>
                                        <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                            <md-icon class="material-icons">thumb_up</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button md-accent" aria-label="Share">
                                            <md-icon class="material-icons">share</md-icon>
                                        </md-button>
                                    </md-card-icon-actions>
                                    <md-button>Action 1</md-button>
                                    <md-button>Action 2</md-button>
                                </md-card-actions>
                            </md-card>


                            <!--</div>-->
                    </div>
                    </md-content>
                </div>
            </div>
            <div flex="35" layout="row" layout-align="center start" layout-padding>
                <div flex="100" layout-margin>
                    <div flex layout="column" class="md-whiteframe-2dp">
                        <!--<md-toolbar class="md-accent md-hue-1">
                            <div class="md-toolbar-tools">
                                <h2 flex md-truncate>Top Talents</h2>
                            </div>
                        </md-toolbar>-->
                        <div>
                            <h4 flex layout="column" layout-align="center center" style="margin: 12px 0px 0px 0px">Top Talents</h4>
                        </div>
                        <div layout="row">
                            <div ng-repeat="user in appCtrl.topTalents" flex layout="column" layout-align="center center" layout-margin>
                                <img ng-src="{{user.photoUrl}}" style="border-radius: 50%; height: 64px; width: 64px;"/>
                                <div class="md-truncate" style="text-align: center">
                                    <span class="md-subhead grey-text">{{user.name}}</span>
                                    <!--<br/>-->
                                    <!--<span class="md-subhead">Dancing</span>-->
                                </div>
                            </div>

                            <!--<div layout="column" layout-align="center center" layout-margin>
                                <div style="border-radius: 50%; height: 96px; width: 96px; text-align: center; border: 2px solid rgb(121,134,203)">
                                    More
                                </div>
                            </div>-->

                        </div>
                        <div layout="row">
                            <div ng-repeat="user in appCtrl.topTalents" flex layout="column" layout-align="center center" layout-margin>
                                <img ng-src="{{user.photoUrl}}" style="border-radius: 50%; height: 64px; width: 64px;"/>
                                <div class="md-truncate" style="text-align: center">
                                    <span class="md-subhead grey-text">{{user.name}}</span>
                                    <!--<br/>-->
                                    <!--<span class="md-subhead">Dancing</span>-->
                                </div>
                            </div>

                            <!--<div layout="column" layout-align="center center" layout-margin>
                                <div style="border-radius: 50%; height: 96px; width: 96px; text-align: center; border: 2px solid rgb(121,134,203)">
                                    More
                                </div>
                            </div>-->

                        </div>

                    </div>
                    <div>Notifications</div>
                    <div>Events</div>
                </div>
            </div>
        </div>
    </div>
    <!--</md-content>-->
    <!-- <div flex layout="row" layout-align="center start" layout-padding ng-controller="CreatePostController as cpCtrl">
        <div flex="50" ng-include="'js/modules/posts/views/create_post.html'"></div>
    </div> -->
</div>
