<div flex layout="column">
    <div toolbar></div>
    <!--<md-content flex>-->

    <div flex ui-view layout="column" ng-if="appCtrl.isRoot">
    </div>

    <md-content flex style="background-color: white" ng-if="!appCtrl.isRoot">
        <div flex ng-if="!appCtrl.isLoggedIn">
            <!--<div flex style="min-height: 350px;position:absolute;height:100%; top:0px; left:0px; right:0px; bottom:0px;z-index:0;">
                <img src="resources/images/hero-banner.jpg"/>
            </div>-->
            <div flex layout="column" layout-align="center center" style="min-height:680px; background-image: url('resources/images/hero-banner.jpg');
        background-repeat: no-repeat;background-position:100%; 100%;background-size: cover;">
                <div flex layout="row" layout-align="center center" class="bg_semi_black" style="width:100%;">
                    <div flex="80" id="hero-content" class="bg_semi_white" layout-padding style="border-radius: 4px">
                        <div layout="column" layout-align="center center">
                            <h1 style="font-weight:400; margin-bottom: 5px; padding-bottom: 5px; font-size: 50px">Welcome to TalentBook!</h1>
                            <h3 style="font-weight:400; margin: 0px; padding-top: 5px;">A platform to showcase your talents!</h3>
                        </div>
                        <div layout="row">
                            <div flex style="margin:0px 8px;">
                                <h2 layout="column" layout-align="center center">For Talent</h2>
                                <p layout="column" layout-align="center center">Build your portfolio, let the world know about your special
                                    talents!</p>
                                <p layout="column" layout-align="center center">Join now and explore exciting
                                    opportunities around you.</p>
                            </div>
                            <div flex style="margin:0px 8px;">
                                <h2 layout="column" layout-align="center center">For Recruiters</h2>
                                <p layout="column" layout-align="center center">Find out amazing talent around you.</p>
                                <p layout="column" layout-align="center center">Lots of amateurs as well as professional
                                    artists are here!</p>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <button class="loginBtn loginBtn--facebook" ng-click="loginWithFacebook()">
                                Login with Facebook
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div id="create-post" style="position: fixed; bottom: 48px; right: 48px">
                <md-button class="md-fab md-primary" aria-label="Create Post">
                    <md-icon class="material-icons">create</md-icon>
                </md-button>
            </div>-->
        </div>
        <div layout="row" flex layout-align="center start">
            <div flex="90" layout="row">
                <div flex="65" layout="row" layout-align="center start" layout-padding>
                    <div flex="90" layout-padding layout="column">

                        <div flex layout="row" layout-align="center start"
                             ng-controller="CreatePostController as cpCtrl">
                            <div flex ng-include="'js/modules/posts/views/create_post.html'"></div>
                        </div>

                        <div flex layout="column" style="margin-top:16px; margin-bottom: 16px;">
                            <!--<md-toolbar class="md-accent md-hue-1">
                                <div class="md-toolbar-tools">

                                </div>
                            </md-toolbar>-->
                            <md-nav-bar class="md-whiteframe-1dp"
                                        md-selected-nav-item="self.currentNavItem"
                                        nav-bar-aria-label="navigation links">
                                <md-nav-item ng-if="self.isLoggedIn" md-nav-click="appCtrl.getMyPosts()" name="for_you">
                                    For you
                                </md-nav-item>
                                <md-nav-item md-nav-click="appCtrl.getTrendingPosts()" name="trending">
                                    Trending
                                </md-nav-item>
                                <md-nav-item md-nav-click="appCtrl.getLatestPosts()" name="latest">
                                    Latest
                                </md-nav-item>
                            </md-nav-bar>
                            <!--<div>-->

                            <div ng-repeat="post in appCtrl.posts">
                                <md-card style="margin:8px 2px;">
                                    <md-card-header>
                                        <md-card-avatar>
                                            <img class="md-user-avatar" ng-src="{{post.user.photoUrl}}"/>
                                        </md-card-avatar>
                                        <md-card-header-text>
                                            <span class="md-title">{{post.user.name}}</span>
                                        </md-card-header-text>
                                    </md-card-header>

                                    <div ng-if="post.type === 'IMAGE'" style="overflow:hidden;max-height:180px;"
                                         layout="row" layout-align="center center">
                                        <img ng-src="{{post.url}}" class="md-card-image" style="width:100%;">
                                    </div>

                                    <div ng-if="post.type === 'VIDEO'" layout="row" layout-align="center center">
                                        <iframe width="560" height="315" ng-src="{{appCtrl.embeddedUrl(post.url)}}"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>

                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">{{post.title}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p class="md-truncate grey-text">
                                            {{post.desc}}
                                        </p>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="start center">
                                        <md-card-icon-actions>
                                            <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                                <md-icon class="material-icons">thumb_up</md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button md-accent" aria-label="Share">
                                                <md-icon class="material-icons">share</md-icon>
                                            </md-button>
                                        </md-card-icon-actions>
                                        <div ng-repeat="tag in post.tags">
                                            <md-button ng-disabled>{{tag}}</md-button>
                                        </div>
                                    </md-card-actions>
                                </md-card>
                            </div>


                        </div>
                        <!--</md-content>-->
                    </div>
                </div>
                <div flex="35" layout="row" layout-align="center start" layout-padding>
                    <div flex="100" layout-margin>
                        <div flex layout="column" class="md-whiteframe-2dp">
                            <!--<md-toolbar class="md-accent md-hue-1">
                                <div class="md-toolbar-tools">
                                    <h2 flex md-truncate>Top Talents</h2>
                                </div>
                            </md-toolbar>-->
                            <div>
                                <h4 flex layout="column" layout-align="center center" style="margin: 12px 0px 0px 0px">
                                    Top
                                    Talents</h4>
                            </div>
                            <div layout="row">
                                <div ng-repeat="user in appCtrl.topTalents" flex layout="column"
                                     layout-align="center center" layout-margin>
                                    <img ng-src="{{user.photoUrl}}"
                                         style="border-radius: 50%; height: 64px; width: 64px;"/>
                                    <div class="md-truncate" style="text-align: center">
                                        <span class="md-subhead grey-text">{{user.name}}</span>
                                        <!--<br/>-->
                                        <!--<span class="md-subhead">Dancing</span>-->
                                    </div>
                                </div>

                                <!--<div layout="column" layout-align="center center" layout-margin>
                                    <div style="border-radius: 50%; height: 96px; width: 96px; text-align: center; border: 2px solid rgb(121,134,203)">
                                        More
                                    </div>
                                </div>-->

                            </div>
                            <div layout="row">
                                <div ng-repeat="user in appCtrl.topTalents" flex layout="column"
                                     layout-align="center center" layout-margin>
                                    <img ng-src="{{user.photoUrl}}"
                                         style="border-radius: 50%; height: 64px; width: 64px;"/>
                                    <div class="md-truncate" style="text-align: center">
                                        <span class="md-subhead grey-text">{{user.name}}</span>
                                        <!--<br/>-->
                                        <!--<span class="md-subhead">Dancing</span>-->
                                    </div>
                                </div>

                                <!--<div layout="column" layout-align="center center" layout-margin>
                                    <div style="border-radius: 50%; height: 96px; width: 96px; text-align: center; border: 2px solid rgb(121,134,203)">
                                        More
                                    </div>
                                </div>-->

                            </div>

                        </div>
                        <div>Notifications</div>
                        <div>Events</div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <!--</md-content>-->
    <!-- <div flex layout="row" layout-align="center start" layout-padding ng-controller="CreatePostController as cpCtrl">
        <div flex="50" ng-include="'js/modules/posts/views/create_post.html'"></div>
    </div> -->
</div>
